
<h3>SIGOC Recupera tu cuenta</h3>

Hola {{ user.username }} se ha actualizado  su contraseña. Accede a su cuenta con la siguiente contraseña {{ newpass }} . Una vez que inicies sesión por favor cámbiala por una que te sea más familiar y fácil de recordar.
<br>
<a href="http://localhost/InfOperatorio/web/app_dev.php/login">Volver a Iniciar Sesión</a>
<br>
Gracias!
