
<h3>SIGOC Cambios en tu cuenta</h3>
Hola {{ usuario.username }} el Administrador {{ user.personalFk.nombre }} ha hecho cambios en tu cuenta de acceso si no eras consciente  de esto comuníquese con él para tener conocimiento de los mismos.
<br>
Gracias!
